* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0px;
}

.nav {
  height: 60px;
  width: 100%;
  background-color: #fffdf9;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  font-family: 'Gloria Hallelujah', cursive;
  display: inline-block;
  font-size: 40px;
  color: rgb(0, 0, 0);
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline-block;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #000000;
  transition: ease .1s;
}

.nav > .nav-links > a:hover {
  transform:scale(1.1);
}

.nav > #nav-check {
  display: none;
}

.container-cart{
  display: inline;
}

.cartWidget{
  width: 30px;
}

.btn-cart {
  border: none;
  background: #3492d900;
  transition: ease .1s;
}

.btn-cart:hover {
  transform:scale(1.1);
}

.container-title{
  text-align: center;
}

/* start styles card sale */

.container-description{
  padding: 5%;
}

.container-product{
  width: 25%;
  height: 50%;
  border-radius: 11px;
  background-color: #FFFFFF;
  box-shadow: 0 0 8px .5px #0000001f;
  display: inline-block;
  text-align: center;
  margin: 1%;
}

.container-btnCart{
  width: 100%; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0%;
}
.count{
  margin: 0;
}
.btn-remove, .btn-add{
  display: inline;
  border-radius: 100px;
  color: #337FED;
  font-size: 25px;
  font-weight: 1;
  padding: 5px 13px;
  background-color: rgba(61, 148, 246, 0);
  border: solid #337FED 1px;
  text-align: center;
  transition: .1s;
}
.count{
  display: inline;
}
.btn-remove:hover, .btn-add:hover {
   color: white;
   background: #337FED;
   border: solid #337FED 1px;
   -webkit-border-radius: 100px;
   -moz-border-radius: 100px;
   border-radius: 100px;
}
.btn-addToCart{
  width: 100%;
  display: inline;
  border-radius: 0px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 50px;
  color: #337FED;
  font-size: 18px;
  font-weight: 100;
  padding: 8px 15px;
  margin: 5% 0%;
  background-color: rgba(61, 148, 246, 0);
  border: solid #337FED 1px;
  text-align: center;
  transition: .1s;
}
.btn-addToCart:hover {
   color: white;
   background: #337FED;
   border: solid #337FED 1px;
}

/* end styles card sale */

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}